body {
    padding: 65px;
}

.listContainter {
    overflow-y: scroll;
    max-height: 700px;
    overflow-x: hidden;
}

.visibilityButton {
    width: 100px;
}

.delete-btn {
    float: right;
    color: red;
    cursor: pointer;
}

#alert-container {
    width: 45%;
    position: absolute;
    z-index: 3;
    top: 65px;
    right: 15px;
}

/*   Animations   */
/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
    transition: 0.5s linear all;
    opacity: 1;
}

.fade.ng-leave.ng-leave-active {
    opacity: 0;
}

#list-items li.ng-leave {
    transition: 0.6s linear all;
    opacity: 1;
    transform: translateX(0);
}

#list-items li.ng-leave.ng-leave-active {
    opacity: 0;
    transform: translateX(-100%);
}

#alert-container div.ng-enter {
    transition: 0.6s linear all;
    opacity: 0;
    transform: translateX(100%);
}

#alert-container div.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateX(0);
}

#alert-container div.ng-leave {
    transition: 0.6s linear all;
    opacity: 1;
    transform: translateX(0);
}

#alert-container div.ng-leave.ng-leave-active {
    opacity: 0;
    transform: translateX(100%);
}