<div class="jumbotron">
    <div class="container">
        <h2>Welcome to the Vehicle Selector!</h2>
        <div class="panel panel-info">
            <div class="panel-heading">Getting Started:</div>
            <div class="panel-body">
                <ol>
                    <li>Navigate to the <a href="#/selector"><strong>Selector</strong></a> link at the top of the page.</li>
                    <li>Search for and select a vehicle make.</li>
                    <li>Search for and select a vehicle model.</li>
                </ol>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Tech Stack:</div>
            <div class="panel-body">
                <div class="well well-sm">
                    <a href="https://github.com/JeskeJL02/VehicleSelector" target="_blank">Project's GitHub</a>
                </div>

                <ul>
                    <li>
                        <strong>Single Page Application (SPA)</strong>
                        <ul>
                            <li>
                                Project Name: VehicleSelector.App
                                <ul>
                                    <li>
                                        AngularJS/Bootstrap Frontend
                                        <ul>
                                            <li>Bower managed packages</li>
                                        </ul>
                                    </li>
                                    <li>Built on .Net Core 1.1</li>
                                    <li>Hosted on Azure</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Rest Application Programming Interface (API)</strong>
                        <ul>
                            <li>
                                Project Name: VehicleSelector.Api
                                <ul>
                                    <li>Built on .Net Core 1.1 (web api)</li>
                                    <li>Hosted on Azure</li>
                                </ul>
                            </li>
                            <li>
                                Project Name: VehicleSelector.Data
                                <ul>
                                    <li>Built on .Net Core 1.1 (class library)</li>
                                    <li>Entity Framework Core 1.1.2</li>
                                    <li>Hosted on Azure</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>SQL Database</strong>
                        <ul>
                            <li>Deployed via VehicleSelector.Data (code-first architecture)</li>
                            <li>Hosted on Azure</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <i>- Developed by Jacob Jeske -</i>
    </div>
</div>


